@tailwind base;
@tailwind components;
@tailwind utilities;

#b {
    grid-area: b;
  }
  
  #a {
    grid-area: a;
  }
.wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: " a b ";
    grid-gap: 30px;
    width: 85%;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(125px, 1fr));
    width: 100%;
}
.filter-header{
    background-color: #29a637;
    font-size: 17px;
    display: grid;
    grid-template-columns: 2fr 50px;
}
.desc-content{
    display: flex;
    column-gap: 40px;
}
.close{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-gap: 10px;
}

.shareModal{
    transition: all .9s ease;}

    @media (min-width: 0px) and (max-width: 330px) {
    .product-container {
        grid-template-columns: repeat(1, minmax(125px, 1fr)) !important;
    }
    .similar-content{
        grid-template-columns: repeat(1, minmax(125px, 1fr)) !important ;

    }
    .shimmer-grid{
        grid-template-columns: repeat(1, minmax(125px, 1fr)) !important ;
    }
}
@media (max-width: 540px) {
.desc-content{
flex-direction: column;
}
}
@media (min-width: 330px) and (max-width: 600px) {
    .product-container{
        grid-template-columns: repeat(2, minmax(125px, 1fr)) !important ;
    }
    .similar-content{
        grid-template-columns: repeat(2, minmax(125px, 1fr)) !important ;

    }
    .shimmer-grid{
        grid-template-columns: repeat(2, minmax(125px, 1fr)) !important ;
    }
}

@media (max-width: 1050px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
        " b "
        " a ";
        grid-gap: 18px !important;
        width: 90%;

    }
    .scroll-container{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        width: 89vw;
        scrollbar-width: none;
    
    }
    
}
@media (max-width: 1279px) {
    .product-container{
        grid-template-columns: repeat(3, minmax(125px, 1fr))  ;
    }
    .similar-content{
        grid-template-columns: repeat(3, minmax(125px, 1fr)) ;

    }
    .shimmer-grid{
        grid-template-columns: repeat(3, minmax(125px, 1fr));
    }
}

@media (min-width:0px) and (max-width: 660px) {
    .categoty-content {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media (min-width:660px) and (max-width: 875px) {
    .categoty-content {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media (min-width:875px) and (max-width: 1380px) {
    .categoty-content {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}
@media (min-width: 1380px) and (max-width:2560px) {
    .categoty-content {
        grid-template-columns: repeat(7, 1fr) !important;
    }
}

.shimmer {
    position: relative;
    overflow: hidden;
  }
  
  .shimmer::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.2) 75%
    );
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  